html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/geomanist-regulart.woff2') format('woff2'),
         url('fonts/geomanist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 20px;
}


body {
    margin: 0;
    background-color: #f5f4f0;
    color: #435259;
}

article {
    background-color: white;
    max-width: 35rem;
    padding: 1rem 3rem;
}

.date {
    white-space: nowrap;
    position: absolute;
    top: 1em;
    transform-origin: right bottom;
    transform: rotate(270deg);
    left: initial;
    right: 100%;
    color: #ab9768;
}


h1 {
    font-family: 'geomanistregular';
    font-size: 2.5em;
    margin: 0.3em 0;
}

h2 {
    font-family: 'geomanistregular';
    margin: 0.3em 0;
}


p {
    line-height: 1.55em;
}

a {
    border-bottom: 1px solid #ab9768;
    text-decoration: none;
    color: #ab9768;
}


