html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/geomanist-regulart.woff2') format('woff2'),
         url('fonts/geomanist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposTextRegular';
    src: url('fonts/TiemposText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'TiemposTextRegular';
    font-size: 20px;
}


body {
    margin: 0;
    background-color: #f5f4f0;
    color: #435259;

}

aside {
    position: absolute;
    font-size: 0.63em;
    padding: 1em;
}

aside ul {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

aside img {
    border-radius: 20%;
}

aside .author {
    font-size: 1.3em;
}

article {
    position: relative;
    margin-left: 10rem;
    background-color: white;
    max-width: 35rem;
    padding: 1rem 3rem;
}

article.date {
    position: absolute;
    font-size: 0.63em;
    right: 2em;
    top: 1em;
}

h1 {
    font-family: 'geomanistregular';
    font-size: 2.6em;
    margin: 0.3em 0;
}

h2, h3 {
    font-family: 'geomanistregular';
    margin: 0.3em 0;
}


p {
    line-height: 1.55em;
}

p.example {
    background-color: rgba(200,200,200,0.2);
    padding: 1em;
}



a {
    border-bottom: 1px solid #ab9768;
    text-decoration: none;
    color: #ab9768;
}


