html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/geomanist-regulart.woff2') format('woff2'),
         url('fonts/geomanist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposTextRegular';
    src: url('fonts/TiemposText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'TiemposTextRegular';
    font-size: 20px;
}


body {
    margin: 0;
    background-color: #f5f4f0;
    color: #435259;

}

aside {
    font-size: 0.63em;
    padding: 2em;
    width: 10rem;
}

aside ul {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

aside img {
    border-radius: 20%;
}

aside .author {
    font-size: 1.3em;
}

.container {
    position: relative;
    display: flex;
    margin-left: 18%;
    max-width: 45rem;
}


article {
    position: relative;
    background-color: white;
    padding: 1rem 3rem;
}

article header {
    margin-top: 2em;
    margin-bottom: 2em;
}

article .date {
    position: absolute;
    font-size: 0.8em;
    right: 2.5em;
    top: 1em;
}

article section {
    margin-bottom: 2em;
}

article figure {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #666;
    font-style: italic;
    margin-top: 0.5em;
    font-size: 0.85em;
    margin-bottom: 2em;
}

figcaption {
    margin-top: 1em;
}

figure img {
    width: 100%;
    max-height: 300px;
}

h1 {
    font-family: 'geomanistregular';
    font-size: 4em;
    margin: 0.3em 0;
    line-height: 0.92em;
}

h2, h3 {
    font-family: 'geomanistregular';
    margin: 0.3em 0;
}

h4 {
    margin-bottom: -0.7em;
}


p {
    line-height: 1.8;
}

p.example {
    background-color: rgba(200,200,200,0.2);
    padding: 0.75em;
    margin: 0 -0.75em;
}

p.quote {
    font-size: 1.1em;
    font-style: italic;
    opacity: 0.9;
    padding-left: 0.5em;
    border-left: 3px solid #ab9768;
}

p.code {
    width: 100%;
    max-height: 600px;
    overflow: auto;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 14px;
    background-color: #f8f0de;
    border-radius: 3px;
    white-space: pre-wrap;
}



a {
    border-bottom: 1px solid #ab9768;
    text-decoration: none;
    color: #ab9768;
}



@media (max-width: 980px) {
    .container {
        display: block;
        margin-left: 0;
        max-width: 100%;
    }
    h1 {
        font-size: 6em;
    }
    article .date {
        font-size: 1em;
    }
 }
